.contact {
  align-items: center;
  color: #00253c;
  display: flex;
  flex-direction: column;
  height: 25em;
  justify-content: center;
  margin-top: 100px;
}

.emailIcon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.icons {
  align-items: center;
  color: #00253c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.linkedinIcon {
  color: blue;
  font-size: 40px;
}

.githubIcon {
  color: black;
  font-size: 40px;
  margin-left: 20px;
}

.localization-div {
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 9px 9px 5px rgb(235, 118, 10);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.localization {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  margin-top: 20px;
  width: 95%;
}


.mapIcon {
  color: black;
  font-size: 40px;
}