header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-around;
  margin-bottom: 0,5px;
}

.links {
  color: #00253c;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.links:hover {
  text-decoration:underline;
}

@media only screen and (max-width: 600px) {
  header{
    height: 40px;
  }

  .links {
    color: #00253c;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
}