.projects {
  text-align: center;
  padding-top: 15px;
}

.projects-list {
  border: 2px solid green;
  padding: 10px;
}

.proj {
  height: 150px;
  width: 200px;

}

.proj:hover {
  height: 200px;
  width: 300px;
  opacity: 0.5;
}

#allForOne {
  background-image: url(../img/allForOne.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#oneForAll {
  background-image: url(../img/oneForAll.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
