* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.title-text {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #282c34;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.introduction-div {
  padding-top: 30px;
  padding-left: 15px;
}

.presentation {
  color: rgb(235, 118, 10);
  font-size: 27px;
  font-weight: 500;
}

.presentation2 {
  color: rgb(235, 118, 10);
  font-size: 20px;
  font-weight: 400;
  padding-left: 100px;
}

.photo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  height: 400px;
  width: 70%;
}

#photo {
  height: 100%;
  width: 100%;
  background-image: url(../src/img/peter.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 600px){
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
